* text=auto
.gitattributes text eol=lf
.gitignore text eol=lf
.dockerignore text eol=lf
.editorconfig text eol=lf
*.md text eol=lf
*.yml text eol=lf
*.yaml text eol=lf
*.json text eol=lf
*.jsonc text eol=lf
*.html text eol=lf
*.sql text eol=lf
*.mod text eol=lf
*.sum text eol=lf
*.sh text eol=lf
*.go text eol=lf
*.ts text eol=lf
*.tsx text eol=lf
*.css text eol=lf
*.ps1 text eol=crlf
Dockerfile text eol=lf
Caddyfile* text eol=lf
LICENSE text eol=lf
NOTICE text eol=lf
.env.example text eol=lf
*.png binary
*.webp binary
*.woff2 binary
